<p>accueil works!</p>

<p>spécialiste de l'entretien du jardin et des espaces verts, vous propose un large choix de matériel neuf de
  motoculture : tracteur-tondeuse, tondeuse à gazon, robot de tonte, motoculteur, fendeuse de bûches, ainsi que du
  matériel portatif : tronçonneuse, débroussailleuse ou taille-haie, pour un extérieur parfaitement entretenu. Grandes
  marques et exclusivités, faites confiance au choix de la qualité et aux conseils experts pour vous équiper
  durablement.</p>

<img class="imageDumas" src="/assets/Dumas.jpg" alt="Grapefruit slice atop a pile of other slices">

<ul>
  <li><a href="https://www.stihl.fr/fr">Website</a></li>
  <li><a href="mailto:m.bluth@example.com">Email</a></li>
  <li><a href="tel:+123456789">Phone</a></li>
</ul>

<app-gamme></app-gamme>
